{% extends "base.html" %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<h1 style="margin-top:100px;margin-left:50px;">Dermatology</h1>
<div class="card " style="margin-left:100px; background-color:#212529;color:aquamarine ;width:1350px;">

    <div class="row" style="width:1350px;">
        <div class="col-md-4">
            <div class="card-image">
                <img src="{{url_for('static',filename='images/dermatology.jpg')}}">
            </div>

        </div>


        <div class="col-md-4">
            <div class="card-text">
                The Dermatology Department provides comprehensive diagnostics and treatments for healthy skincare. The
                department offers a wide variety of services in medical, pediatric, surgical and cosmetic dermatology.
                The
                dermatologists are experts in successfully treating all forms of skin-related disfigurements including
                melanomas, skin cancers, acne and various other problems like lupus, bullous pemphigoid and pemphigus
                vulgaris. The team renders excellent diagnoses and management of conditions affecting hair and nails.
                The
                proficient approach of the dermatologists at Fortis, ensures that the patients observe superior outcomes
                and
                experience the gift of glowing skin.

            </div>

        </div>
        <div class="col-md-4">
            <div class="card-text">
                The department delivers most advanced and superior dermatology therapies and treatments along with
                quality
                and compassionate care to the patients. Some of the cosmetic procedures performed by the dermatology
                team
                include blepharoplasty, liposuction, chemical peels and face-lifts. Some common procedures which are
                also
                performed include skin biopsies, cryosurgery, conservative excision, wide local excision, topical
                chemotherapy and multiple others. Fortis also delivers dermatology consultations for the inpatients in
                order
                to provide expert counseling sessions and superior quality care for a speedy and scar-less recovery
            </div>
        </div>


    </div>

</div>








</div>


{% endblock %}