{% extends "base.html" %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<h1 style="margin-top:100px;margin-left:50px;">General Practice</h1>
<div class="card " style="margin-left:300px; background-color:#212529;color:aquamarine;width:900px;">
    <div class="row" style="width:1350px;">
        <div class="col-md-4">
            <div class="card-image">
                <img src="{{url_for('static',filename='images/gp.jpg')}}">
            </div>

        </div>


        <div class="col-md-4">
            <div class="card-text">
                The General Practice Department continues to be the Nerve Center of the VCARE. Individual experiences
                range
                from 5-30 years, some with additional skills in Surgery, ENT, Pain Management, Anesthesia, Pulmonology,
                OB/GYN, Infection Control & Health Promotion, Kidney Dialysis, Leprosy Care, Anti-Smoking Campaign,
                Community Clinics, Counseling, Leadership and Management. The GPs run the Urgent Care Unit, attend on
                out-patients and also admit in-patients to the ward if necessary. Our members stretch from the Far East
                to
                the United Kingdom, speaking English, Arabic, Hindi, Telugu, Tamil, Malayalam, Urdu etc.

            </div>

        </div>
 


    </div>


</div>


{% endblock %}