{% extends "dashbase.html" %}
{% block head %}
{% block title %}{% endblock %}
{{ super() }}
{% endblock %}
{% block content %}


<h1 style="font-family:sans-serif; color:#282828"> PATIENT DETAILS</h1>
<div class="row">
  <div class="col">
    <div class="card" style="background-color:aquamarine;width:400px;display:inline-flex;margin-right:20px;;">
      <div class="card-body">
        <h5 class="card-title">Basic Account Info</h5>
        <p class="card-text">Patient ID: {{pdata[0][0]}}</p>
        <p class="card-text">Name: {{pdata[0][1]}}</p>
        <p class="card-text">Username: {{pdata[0][2]}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="background-color:aquamarine;width:400px;display:inline-flex;">
      <div class="card-body">
        <h5 class="card-title">Contact Info</h5>
        <p class="card-text">Email: {{pdata[0][8]}}</p>
        <p class="card-text">Phone No.: {{pdata[0][7]}}</p>
        <p class="card-text">Address: {{pdata[0][6]}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <img class="fluid "
      style="border-radius:100%;margin-top:30px;margin-left:90px;width:200px;height:200px;display:inline-flex;"
      src="{{url_for('static',filename='images/user.profile.png')}}">
  </div>
</div>

{% endblock content %}