{% extends "base.html" %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<h1 style="margin-top:100px;margin-left:50px;">Pediactric</h1>
<div class="card w-75" style="margin-left:300px;background-color:#212529;color:aquamarine;max-width:900px;">

    <div class="row" style="width:1350px;">
        <div class="col-md-4">
            <div class="card-image">
                <img src="{{url_for('static',filename='images/pediatric.jpg')}}">
            </div>

        </div>


        <div class="col-md-4">
            <div class="card-text">
                The Pediatrics Department in the VCARE is committed to providing family-centered healthcare services.
                With
                trustworthy, compassionate and skilled healthcare professionals, we provide a wide range of services to
                all
                children - from birth till their 14th birthday.And parents with healthcare needs for their small
                children
                can approach us, at these places, at any time.

            </div>

        </div>



    </div>



</div>

{% endblock %}