{% extends "dashbase.html" %}
{% block head %}
{% block title %}{% endblock %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>{{session.name}}'s VCARE Visits</h1>
 
<table class="table table-bordered">
    <tr>
        <th>Token No</th>
        <th>Visit Timing</th>
        <th>Visit Type</th>
        <th>Patient Id</th>
        <th>Doctor Id</th>
        <th>Department</th>
        <th>Visit Status</th>
        <th>Diagnosis</th>
        <th>Prescription</th>
    </tr>
    {% for  i in vdata %}   
    <tr>
        
         <td>{{i[0]}}</td>
         <td>{{i[1]}}</td>
         <td>{{i[2]}}</td>
         <td>{{i[3]}}</td>
         <td>{{i[4]}}</td>
         <td>{{i[5]}}</td>
         <td>{{i[6]}}</td>
         <td>{{i[7]}}</td>
         <td>{{i[8]}}</td>
    </tr>
    {% endfor %}
  
</table> 
{% endblock content %}