{% extends "base.html" %}
{% block head %}
{% block title %}Sign Up{% endblock %}
{{ super() }}
{% endblock %}
{% block content %}
          <div class="page-content">     
           <form method="POST" action="/signup/">
              <div class="card  text-white  " style="max-width: 540px; margin:auto;margin-top:100px;background-color:rgb(46, 45, 56)">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <img style='height:100%'src="{{ url_for('static',filename='images/cardpic (Custom).jpg') }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body ">
                      <h3 class="card-title">sign up</h3>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  name" name="name"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  dob" name="dob" ></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  username" name="uname"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  email" name="email"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  phone" name="phone"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  address" name="address"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="password" placeholder="  password" name="pwd"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="password"placeholder="  confirm password" name="cpwd"></p>
                      <p class="card-text"><input class="input--style-3 " style='margin-top:30px;border-radius:30px;border:none;background-color:aquamarine;border:none;color:black;width:100px;height:50px;'type="submit" name="submit"></p>
                    </div> 
                  </div>
                </div>
              </div>           
           </form>
            </div>
 {% endblock %}