<!DOCTYPE html>

    <head>
        <title>sign up</title>       
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

    </head>
    <body style="background-color:rgb(56, 58, 65)">
  <header> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">VCARE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">find a doctor</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             departments
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider" ></li>
              <li><a class="dropdown-item" href="#">general</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">pediactric</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">dermatology</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">contact us</a>
          </li>
        </ul>      
      </div>
      <ul class="nav navbar-nav navbar-right ">
        <li class="nav-item"><a href="/signup" class='btn btn-lg btn-primary l' id='signup' style='margin-right:30px;border-radius:30px;background-color:aquamarine;border:none;color:black;width:100px;'>sign up</a></li>
        <li class="nav-item"><a href="/login" class='btn btn-lg btn-primary s' style='border-radius:30px;background-color:aquamarine;border:none;color:black;width:100px;' id='login'>login</a></li>      
      </ul>
      
    </div>
  </nav>
  </header>
          <div class="page-content">     
           <form method="post" action="/signup/">
              <div class="card text-white  " style="max-width: 540px; margin:auto;margin-top:100px;background-color:rgb(46, 45, 56)">
                <div class="row g-0">
                  <div class="col-xl-auto">
                    <img src="{{ url_for('static',filename='images/cardpic (Custom).jpg') }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-xl-7">
                    <div class="card-body ">
                      <h3 class="card-title">sign up</h3>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  name" name="name"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  dob" name="dob" ></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  username" name="uname"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  email" name="email"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  phone" name="phone"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="text" placeholder="  address" name="address"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="password" placeholder="  password" name="pwd"></p>
                      <p class="card-text"><input class="input--style-3 " style="border:none;background-color:rgb(88, 84, 84);color: white;"   type="password"placeholder="  confirm password" name="cpwd"></p>
                      <p class="card-text"><input class="input--style-3 " style='margin-top:30px;border-radius:30px;border:none;background-color:aquamarine;border:none;color:black;width:100px;height:50px;'type="submit" name="submit"></p>
                    </div> 
                  </div>
                </div>
              </div>           
           </form>
            </div>
      
    </body>
</html>