{% extends "dashbase.html" %}
{% block head %}
{% block title %}{% endblock %}
{{ super() }}
{% endblock %}
{% block content %}
<form class="needs-validation" method="post" action='/vpediatric/'>
    <div class="row" style="max-width:500;margin-top:40px;">
        <div class="col" style="max-height:500;">
            <h3>Doctors:</h3>
            <select class="form-select"style="width:500px;margin-top:30px;" name="dname" aria-label="Default select example">
                <option selected>Open this select menu</option>
                {% for i in pedia %}
                <option value="{{i[0]}}">{{i[0]}}</option>
                {% endfor %}
              </select>
        </div>
</div> 
<div class="row" style="margin-top:40px;">
        <h3>Date and Time:</h3>
        
        <div class="col">
             <label for="vdate"style="margin-top:40px;" class="form-label">Visit Date:</label>
            <input type="date" class="form-control" style="width:500px;margin-top:30px;" id="vdate" name="vdate" required>
        </div>        
</div>
<label style="margin-top:40px;">Visit Timings:</label>
<div class="row">
    <div class="col">
        <select class="form-select"style="width:500px;margin-top:30px;" name="vtime" aria-label="Default select example" required>
            <option style="background-color:rgb(48, 42, 42);color:white;" disabled selected>Timings</option>
            <option disabled style="background-color:rgb(241, 160, 38);color:black;">☀️Morning Time slots</option>            
                {% for k in range(8,13) %}
                    <option style="background-color:rgb(241, 238, 38);" value="{{k}}:00:00">{{k}}:00 AM</option>
                    <option style="background-color:rgb(241, 238, 38);" value="{{k}}:30:00">{{k}}:30 AM</option>
                {% endfor %}
                <option disabled style="background-color:rgb(56, 30, 87);color:white;" >🌙Evening Time slots</option>     
                {% for k in range(2,10) %}
                    <option style="background-color:rgb(55, 82, 204);color:white;" value="{{k+12}}:00:00" >{{k}}:00 PM</option>
                    <option style="background-color:rgb(55, 82, 204);color:white;"   value="{{k+12}}:30:00">{{k}}:30 PM</option>
                {% endfor%}  
        </select>          
    </div>
</div>
<div class="row">
    <div class="col">
        <input class="input--style-3 " style='margin-top:10px;border-radius:30px;border:none;background-color:aquamarine;border:none;color:black;width:100px;height:40px;'type="submit" name="submit">
    </div>
</div>

<!-- <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody><tr>
            <th>Doctor Name</th>
            <th>Education</th>
            <th>Speciality</th>
            <th>Appointment Date</th>
            <th>Appointment Day</th>
            <th>Available Time</th>
            <th>Action</th>
        </tr>
        
            <tr>
                <td>Dr Kwak Kwak</td>
                <td>IT</td>
                <td>IT</td>
                <td>2022-01-21</td>
                <td>Friday</td>
                <td>10:15 - 23:55</td>
                <td><button type="button" name="get_appointment" class="btn btn-primary btn-sm get_appointment" data-id="494">Get Appointment</button></td>
            </tr>
            
            <tr>
                <td>Dr. Peter Parker</td>
                <td>MBBS MS</td>
                <td>Sergen</td>
                <td>2022-01-26</td>
                <td>Wednesday</td>
                <td>15:20 - 15:32</td>
                <td><button type="button" name="get_appointment" class="btn btn-primary btn-sm get_appointment" data-id="457">Get Appointment</button></td>
            </tr>
            
            <tr>
                <td>maria Barry</td>
                <td>online class grad</td>
                <td>Open Books when in Operation</td>
                <td>2022-04-30</td>
                <td>Saturday</td>
                <td>15:30 - 20:30</td>
                <td><button type="button" name="get_appointment" class="btn btn-primary btn-sm get_appointment" data-id="376">Get Appointment</button></td>
            </tr>
                                              </tbody></table>
</div> -->
</form>
<script> 
    var forms = document.querySelectorAll('.needs-validation')
   
   Array.prototype.slice.call(forms)
   .forEach(function (form) {
   form.addEventListener('submit', function (event) {
   if (!form.checkValidity()) {
   event.preventDefault()
   event.stopPropagation()  
   
   }
 
   form.classList.add('was-validated')
   }, false)
   })
 </script> 
 {% endblock content %}